/* App.css */

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.Calculator-title {
  font-size: 3rem;
  color: #333;
  text-shadow: 2px 2px 5px #ccc;
}

.Calculator-text {
  font-size: 1.5rem;
  color: #333;
}

.Calculator-section {
  padding: 2rem;
  background-color: #eee;
}

.Calculator-section h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 0;
}

.Calculator-footer {
  padding: 1rem;
  background-color: #ccc;
  text-align: center;
}

/* Matrix.css */

.Matrix-header {
  background-color: black;
  padding: 2rem;
  text-align: center;
}

.Matrix-title {
  font-size: 3rem;
  color: green;
  margin: 0;
}

.Matrix-text {
  font-size: 1.5rem;
  color: white;
}


.Matrix-section {
  padding: 2rem;
  background-color: black;
}

.Matrix-section h2 {
  font-size: 2rem;
  color: green;
  text-shadow: 1px 1px 3px black;
  margin-top: 0;
}

.Matrix-footer {
  padding: 1rem;
  background-color: black;
}
